	<tr bgcolor="#F2F2F2" height="20" data-no="<%= no %>">
		<td width="50"  align="center"><%= index %></td>
		<td width="450" align="left"><%= title %></td>
		<td width="100" align="center">
			<a href="<%= editURL %>">수정</a>/
			<a href="<%= deleteURL %>">삭제</a>
		</td>
	</tr>