	<li class='deletable'>
	<img class='left' src='<%= userURL %>' alt='프로필 사진'>
	<strong><%= name %></strong>
	<p>
	<%= content %>
	</p>
	<strong><%= reg_date %></strong>
	<a data-no='<%= no %>'><img src='<%= deleteURL %>' alt='삭제'>삭제</a>
	</li>